/* Define CSS variables for consistency */
:root {
  --sidebar-bg: #004733;
  --sidebar-width: 120px;
  --transition-speed: 0.3s;
  --menu-icon-color: #FF9C05;
  --menu-icon-open-color: #ffffff;
  --link-color: #ffffff;
  --link-hover-bg: #FFA500;
  --link-hover-color: #000000;
}

/* Sidebar menu styles */
.sidebar {
    width: var(--sidebar-width);
    position: fixed;
    top: 0;
    left: -200px;
    background-color: var(--sidebar-bg);
    height: 100%;
    padding-top: 20px;
    transition: left var(--transition-speed);
    z-index: 100;
    overflow: auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--link-color);
    padding: 20px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.sidebar ul li a img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.sidebar ul li a p {
    margin: 0;
    font-size: 14px;
    transition: font-size 0.3s ease, font-weight 0.3s ease;
}

.sidebar ul li a:hover,
.sidebar ul li a:active {
    background-color: var(--link-hover-bg);
    color: var(--link-hover-color);
}

.sidebar ul li a:hover img,
.sidebar ul li a:active img {
    transform: scale(0.8);
}

.sidebar ul li a:hover p,
.sidebar ul li a:active p {
    font-size: 18px;
    font-weight: bold;
}

/* Hamburger menu icon */
.menu-icon {
    display: block;
    cursor: pointer;
    font-size: 30px;
    color: var(--menu-icon-color);
    z-index: 101;
    position: fixed;
    top: 10px;
    left: 10px;
}

/* Sidebar open state */
.sidebar.open {
    left: 0;
}

/* Change the icon color when menu is open */
.sidebar.open ~ .menu-icon {
    color: var(--menu-icon-open-color);
}

/* Mobile-specific styles */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .sidebar ul li a {
        padding: 15px;
    }

    .sidebar ul li a img {
        width: 40px;
        height: 40px;
    }

    .sidebar ul li a p {
        font-size: 12px;
    }

    .sidebar ul li a:active {
        background-color: var(--link-hover-bg);
        color: var(--link-hover-color);
    }

    .sidebar ul li a:active img {
        transform: scale(0.8);
    }

    .sidebar ul li a:active p {
        font-size: 18px;
        font-weight: bold;
    }
}
